.carrouselImage1 {
  width: 1240px;
  height: 415px;
  background: url("../../assets/img/Background.png");
}
.carrouselImage2 {
  width: 100%;
  height: 415px;
  background-repeat: no-repeat;
  background: url("../../assets/img/Carrousel-m.png");
}
.Flèchegauche {
  background-image: url("../../assets/img/flècheGauche.png");
  width: 50px;
  height: 80px;
}
.Flèchedroite {
  background-image: url("../../assets/img/flècheDroite.png");
  width: 50px;
  height: 80px;
}
